<div class="box api-sidebar">
  <h4>API Reference</h4>
  <div id="api-search-container" class="clearfix">
    <input type="text" class="api-search-input input-text" placeholder="Search...">
    <ul id="api-search-results"></ul>
  </div>
  <div id='api-accordion'>
    {% for grouping in site.api_index %}
      {% assign total = 0 %}
      {% for doc in grouping[1] %}
        {% capture total %}{{ total | plus:1 }}{% endcapture %}
        {% for sub in doc.children %}
          {% capture total %}{{ total | plus:1 }}{% endcapture %}
        {% endfor %}
      {% endfor %}
      {% if grouping[0] != 'Ungrouped' %}
        <h5>{{ grouping[0] }} ({{ total }})</h5>
      {% else %}
        <h5>General ({{ total }})</h5>
      {% endif %}
      <ul>
        {% for doc in grouping[1] %}
        <li class="{% if page.title == doc.title %}current{% endif %}">
          <a href="{{ site.url }}/docs/api/{{ doc.id }}.html">{{ doc.title }}</a>
          {% if doc.children %}
            <ul class='sidebar-children'>
            {% for child in doc.children %}
            <li class="{% if page.title == child.title %}current{% endif %}">
              <a href="{{ site.url }}/docs/api/{{ child.id }}.html">{{ child.title }}</a>
            </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
