<div class="span8">
  <div class="box guide-box">
    <h4>Developer Guides</h4>
    {% for group in site.data.guides %}
    <h5>{{ group.name }}</h5>
    <ul>
      {% for guide in group.guides %}
      <li class="guide-title {% if page.title == guide.title %}current{% endif %}">
        <a href="{{ site.url }}/docs/{{ guide.filename }}.html">{{ guide.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>

  <div class="box-connected clearfix ssb">
  </div>

  {% include api_docs_index.html %}

  <div class="box-connected clearfix ssb">
  </div>
